.DS_Store
.grunt/
*.odc
*.pyc
*.sde
**/*.gdb/*
deploy/
dist/
node_modules/
secrets.json
src/agrc/
src/app/**/*.css
src/bootstrap/
src/dgauges/
src/dgrid/
src/dijit/
src/dojo/
src/dojox/
src/dstore/
src/esri/
src/favico.js/
src/ijit/
src/jquery/
src/ladda-bootstrap/
src/layer-selector/
src/mustache/
src/put-selector/
src/spin.js/
src/spinjs/
src/stubmodule/
src/util/
src/xstyle/
