*
/*
/src/*
!/src/app/*
!/data/*
!/maps/*
!/mockups/*
!/profiles/*
!/scripts/*
!/ui-tests/*
!.bowerrc
!.eslintrc
!.gitattributes
!.gitignore
!.travis.yml
!_SpecRunner.html
!bower.json
!GruntFile.js
!LICENSE.md
!package.json
!README.md
!secrets.sample.json
