.identify-widget
    h4
        margin-bottom 2px
    .close
        color #fff
        position absolute
        right 5px
        top 0
        z-index 11
        text-shadow none
        opacity 0.7
    .county-link-callout
        border 1px solid #000
        border-top-width 1px
        border-top-color #FFDC00
        padding 3px 0
    &.closed
        opacity 1
        display none

.contract-popup
    color white
    text-align left
    width 100%
    z-index 11
