<div>
    <div class='title-container'>
        <h1>
            <span class='title'>${county} Parcels</span>
            <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
        </h1>
        <img src="app/resources/agrc_logo.jpg" alt="agrc logo">
    </div>
    <div data-dojo-attach-point='sideBar'
        class='side-bar-container container-with-border'>
        <div class="side-bar-padder"> <!-- required for side bar toggle widget -->
            <h4>Find Parcel</h4>
            <div data-dojo-attach-point='parcelNode'></div>

            <h4>Find Address</h4>
            <div data-dojo-attach-point='geocodeNode'></div>

            <h4>Find GNIS Place Name</h4>
            <div data-dojo-attach-point='gnisNode'></div>

            <h4>Find City</h4>
            <div data-dojo-attach-point='cityNode'></div>

            <h4>Export Map to PDF</h4>
            <div data-dojo-attach-point='printDiv' class='btn btn-default'></div>

            <p>Data Sourced from County Recorders. Hosted and served by <a href="http://gis.utah.gov/data/sgid-cadastre/parcels/">Utah AGRC</a></p>
        </div>
    </div>
    <div data-dojo-attach-point='centerContainer' class='center-container container-with-border'>
         <div data-dojo-attach-point='sidebarToggle'></div>
        <div data-dojo-attach-point='mapDiv'></div>
    </div>
    <div data-dojo-attach-point='infoBar'></div>
</div>
