<div>
    <div class="modal fade" role="dialog" data-dojo-attach-point='modal'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Disclaimer</h4>
                </div>
                <div class="modal-body">
                    <p>No warranties or certification, express or implied, are provided for the statewide tax parcel dataset and related GIS mapping layer. This data product has been compiled as a best effort service strictly for general purpose informational use and any interpretations made are the responsibility of the User.</p>
                    <p>The State of Utah and County Governments, their elected officials, officers, employees, and agents assume no legal responsibilities for the information contained herein and shall have no liability for any damages, losses, costs, or expenses, including, but not limited to attorney's fees, arising from the use or misuses of the information provided herein. The User's use thereof shall constitute an agreement by the User to release The State of Utah and County Government, its elected officials, officers, employees, and agents from such liability.</p>
                    <p>By using the information contained herein, the User is stating that the above Disclaimer has been read and that he/she has full understanding and is in agreement with the contents of this disclaimer. While the property boundary information depicted in this dataset is based directly on the legal descriptions provided on recorded documents on file in County Recorders’ Offices, it is NOT intended to be used for legal litigation or boundary disputes and is for informational use only. Users interested in pursuing legal litigation and/or boundary disputes should consult an attorney or licensed surveyor, or both.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">I Agree</button>
                </div>
            </div>
        </div>
    </div>
</div>
