<div>
     <div class="form-group">
        <label for="${id}_county">Choose a county</label>
        <select class="form-control"
                data-dojo-attach-point="county"
                data-dojo-attach-event="change:_setCounty"
                id="${id}_county">
            <option value="" disabled selected style="display:none;">County</option>
        </select>
    </div>
     <div class="form-group hidden" data-dojo-attach-point='parcelGroup'>
        <label for="${id}_search">Parcel Id</label>
        <input class="form-control"
               data-dojo-attach-point="parcelId"
               data-dojo-attach-event="input:_setParcelId,change:_setParcelId,paste:_setParcelId"
               id="${id}_search"
               type="text" placeholder="Parcel Id #" />
    </div>
    <div class="form-group hidden" data-dojo-attach-point='searchGroup'>
        <button class='btn btn-default' data-dojo-attach-event='click:search'>
            <span class="glyphicon glyphicon-refresh activity hidden"
                  data-dojo-attach-point='activity'></span> Search</button>
    </div>
    <div class="form-group">
        <div class="callout error-callout hidden" data-dojo-attach-point='errors'></div>
    </div>
</div>
